<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<form action="/posts/create" method="post" >
  작성자 : <input type="text" name="username" /> <br />
  제목 : <input type="text" name="title"/><br />
  내용 : <textarea type="text" name="content"></textarea><br />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
  <input type="submit" value="얍" />
</form>
