<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<p><%= @post.id %> 번째 글</p>
<p><%= @post.user.username %></p>
<p><%= @post.title %></p>
<p><%= @post.content %></p>

<a href="/">HOME</a>
